.orderSuccess{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    padding: 10vmax;
}
.orderSuccess>svg{
    color: green;
    font-size: 10vmax;
}
.orderSuccess>p{
    font-size: 2vmax;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;

}
.orderSuccess>a{
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.621);
    padding: 1vmax 3vmax;
    color: white;
    border-radius: 4px;
    transition: all 0.5s;
    text-decoration: none;
    margin: 2vmax;
}
.orderSuccess>a:hover{
    background-color: rgb(56, 54, 54);
}

@media screen and (max-width:600px) {
    .orderSuccess>a{
        padding: 3vw 6vw;
        font-size: 4vw;
        font-family: 400;
        margin: 2vmax;
    }
    .orderSuccess>svg{
        font-size: 20vw;
    }
    .orderSuccess>p{
        margin: 2vmax;
        font-size: 5vw;
    }
}