.forgotPasswordContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: url(https://img.freepik.com/free-vector/blue-3d-particles-background-design_1017-15410.jpg?w=1480&t=st=1691179225~exp=1691179825~hmac=88c9c1b65c127e526f21a2efaa536c72cb0987070662603ddfeafc9f613cb2fe) no-repeat;

}
.ForgotPasswordBox{
    border: 1px solid rgba(0, 0, 0, 0.639);
    width: 30vw;
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);

}
.ForgotPasswordText{
    text-align: center;
    color: white;
    font-family: Roboto;
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
    padding: 1.4vmax;
    width: 50%;
    margin: auto;
}
.ForgotPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 40%;
}
.ForgotPasswordForm>div{
    display: flex;
    width: 100%;
    align-items: center;
}
.ForgotPasswordForm>div>input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.261);
    border-radius: 5px;
    font-size: 1.2vmax;
    font-weight: 500;
    font-family: "Courier New", Courier, monospace;
    outline: none;
}
.ForgotPasswordForm>div>svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.503);
}
.ForgotPasswordBtn{
    border: none;
    font-size: 1.7vmax;
    height: 3vmax;
    width: 100%;
    background-color: #0a8597;
    font-weight: 300;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.403);
}
.ForgotPasswordBtn:hover{
    background-color: green;
}
@media screen and (max-width:600px) {
    .forgotPasswordContainer{
      background: url(https://img.freepik.com/free-vector/blue-3d-particles-background-design_1017-15410.jpg?w=1480&t=st=1691179225~exp=1691179825~hmac=88c9c1b65c127e526f21a2efaa536c72cb0987070662603ddfeafc9f613cb2fe) no-repeat;
  
    }
    .ForgotPasswordBox{
      width: 95vw;
      height: 95vh;
    }
   
    
    .ForgotPasswordForm{
      padding: 5vmax;
    
    }

    .ForgotPasswordForm>div>input{
      padding: 2vmax 5vmax;
      font-size: 1.7vmax;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 400;
    }

    .ForgotPasswordForm>div>svg{
      font-size: 2.8vmax;
    }
    
    .ForgotPasswordBtn{
      font-size: 1.9vmax;
      font-weight: 400;
      font-family: 'Courier New', Courier, monospace;
      padding: 2vmax;
      height: 6vmax;
    }
  }