.newProductContainer{
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.716);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: black;
}
.newProductContainer h1{
    color: rgba(0, 0, 0, 0.726);
    font-size: 2rem ;
    font-weight: 300;
    text-align: center;
}
.createProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3vmax;
  justify-content: space-evenly;
  height: 70%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
}
/* .createProductForm {
  transform: translateY(-100%) translateX(100vmax);
} */

.createProductForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}


.createProductForm > div > input,
.createProductForm > div > select,
.createProductForm > div > textarea {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.261);
  border-radius: 5px;
  font-size: 1.2vmax;
  font-weight: 500;

  outline: none;
  transition: all 0.5s;
}

.createProductForm > div > input:hover {
  border: 1px solid green;
  box-shadow: 2px 3px 0 3px rgba(255, 255, 255, 0.244);
  
}

.createProductForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.503);
}

.createProductForm > a {
  text-decoration: none;
  color: red;
  /* align-self: flex-end; */
  transition: all 0.5s;
}

#createProductFormImage > img {
  width: 3vmax;
margin: 0 0.5vmax;
}
#createProductFormFile > input {
  display: flex;
  padding: 0%;
}
#createProductFormFile > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font-weight: 400;
  font-size: 1.8vmax;

  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}
#createProductFormImage{
    /* overflow: auto; */
}
#createProductBtn {
  border: none;
  font-size: 1.7vmax;
  height: 3vmax;
  width: 100%;
  background-color: #0a8597;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.403);
}

#createProductBtn:hover {
  background-color: green;
}

@media screen and (max-width:600px) {
 

 .createProductForm{
    padding: 5vmax;
  
  }

  .createProductForm>div>input,
  .createProductForm > div > select,
.createProductForm > div > textarea {
    padding: 2vmax 5vmax;
    font-size: 1.7vmax;

    font-weight: 400;
  }

  .createProductForm>div>svg{
    font-size: 2.8vmax;
  }

  #createProductFormFile>img{
width: 8vmax;
border-radius: 100%;
  }
  #createProductFormFile > input::file-selector-button {
    height: 7vh;
    font-size: 1.8vmax;
    font-weight: 400;

  }

  #createProductBtn{
    font-size: 1.9vmax;
    font-weight: 400;

    padding: 2vmax;
    height: 6vmax;
  }
}