.myOrderPage{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 0 7vmax;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
}
.myOrderTable{
    background-color: white;
}
.myOrderTable div{
    font-size: 1vmax;
    font-weight: 300;
    border: none;
}
.myOrderTable a{
    color: rgba(0, 0, 0, 0.48);
    transition: all 0.5s;
}
.myOrderTable a:hover{
    color: tomato;
}
#myOrderHead{
    text-align: center;
    color: white;
    font-size: 1.2vmax;
    font-weight: 400;
    background-color: grey;
    padding: 0.5vmax;
    box-sizing: border-box;
    transition: all 0.5s;
}
.MuiDataGrid-columnHeader{
    background-color: tomato;
    padding: 1vmax !important;
}
.MuiDataGrid-columnHeader div{
    color: white;
    font-size: 1.2vmax;
    font-weight: 500 !important;
}
.MuiDataGrid-iconSeparator{
  display: none !important;
}
@media screen and (max-width:600px){
    .myOrderPage{
        padding: 0;
        height: 94vh;
    }
    #myOrderHead{
        font-size: 2.2vmax;
        font-weight: 400;
        padding: 4vw;
    }
    .myOrderTable div{
        font-size: 4vw;
        font-weight: 300;
    }
    .MuiDataGrid-columnHeader{
        padding: 20px !important;
    }
    .MuiDataGrid-iconSeparator{
        font-size: 5vw;
        font-weight: 400;
    }
}